<%= simple_form_for(@license_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code, input_html: { maxlength: 1, :class => "span1" } %>
    <%= f.input :description, :input_html => { :class => "span6" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('actions.back'), license_types_path, :class => "btn" %>
  </div>
<% end %>
