<br />
<br />
<%= simple_form_for(@license_type, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
  	<div class="col-sm-6 col-md-6 col-lg-6">
      <%= f.input :code, input_html: { maxlength: 1 } %>
      <%= f.input :description %>
      <%= f.input :protection_level %>
    </div>
  </div>

  <br />
  <div class="form-group">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="glyphicon glyphicon-ok glyphicon-inverse"></i> <%= t('actions.update') %>  
    <% end %>
    <%= link_to license_types_path, :class => "btn btn-default" do %>
      <i class="glyphicon glyphicon-arrow-left"></i> <%= t('actions.back') %>      
    <% end %> 
  </div>
<% end %>
