<%= simple_form_for(@license_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <%= f.input :code, input_html: { maxlength: 1, :class => "span1" } %>
    <%= f.input :description, :input_html => { :class => "span6" } %>
    <%= f.input :protection_level, :input_html => { :class => "span1" } %>
  </div>

  <br />
  <div class="form-actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="icon-ok icon-white"></i> <%= t('actions.update') %>  
    <% end %>
    <%= link_to license_types_path, :class => "btn" do %>
      <i class="icon-arrow-left"></i> <%= t('actions.back') %>      
    <% end %> 
  </div>
<% end %>
