<table class="table table-striped">
  <tr>
    <th><%= t('activerecord.attributes.license_type.code') %></th>
    <th><%= t('activerecord.attributes.license_type.description') %></th>
    <th><%= t('activerecord.attributes.license_type.protection_level') %></th>
    <th></th>
  </tr>

<% @license_types.each do |license_type| %>
  <tr>
    <td><%= license_type.code %></td>
    <td><%= license_type.description %></td>
    <td><%= license_type.protection_level %></td>
    <td>
      <div class="btn-group">
    	<%= link_to raw('<i class="icon-eye-open"></i>'), license_type, :class => "btn", :title => t('actions.show'), :alt => t('actions.show') %>
    	<%= link_to raw('<i class="icon-pencil"></i>'), edit_license_type_path(license_type), :class => "btn", :title => t('actions.edit'), :alt => t('actions.edit') %>
    	<%= link_to raw('<i class="icon-trash"></i>'), license_type, method: :delete, data: { confirm: t('actions.are_you_sure') }, :class => "btn", :title => t('actions.destroy'), :alt => t('actions.destroy') %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= link_to new_license_type_path, :class => "btn", :title => t('actions.new'), :alt => t('actions.new') do %>
  <i class="icon-plus"></i> <%= t('actions.new') %>
<% end %>
