<p>
  <b><%= t('activerecord.attributes.license_type.code') %>:</b>
  <%= @license_type.code %>
</p>

<p>
  <b><%= t('activerecord.attributes.license_type.description') %>:</b>
  <%= @license_type.description %>
</p>

<div class="form-actions">
    <%= link_to t('actions.edit'), edit_license_type_path(@license_type), :class => "btn" %>
    <%= link_to t('actions.back'), license_types_path, :class => "btn" %>
</div>