<%= simple_form_for(@license) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :name, :input_html => { :maxlength => 15 }, :wrapper_html => { :class => "col-md-4" } %>
    <%= f.input :version, :input_html => { :maxlength => 5 }, :wrapper_html => { :class => "col-md-4" } %>
  </div>
  <div class="row">
    <%= f.input :description, :wrapper_html => { :class => "col-md-7" } %>
  </div>
  <div class="row">
    <%= f.association :license_type, label_method: :description, :wrapper_html => { :class => "col-md-4" }  %>
    <%= f.association :category, :wrapper_html => { :class => "col-md-4" } %>
    <div class="col-md-2">
      <div><%= f.label :flag_osi %></div>
      <%= f.input_field :flag_osi, as: :boolean %>
    </div>
  </div>
  <div class="row">
    <%= f.input :similar_license_id, collection: License.all.order('description'), value_method: :id, label_method: :description, :wrapper_html => { :class => "col-md-5" } %>
  </div>
  <div class="row">
    <%= f.input :text_license, :input_html => { :rows => 10 }, :wrapper_html => { :class => "col-md-11" }  %>
  </div>
  <div class="row">
    <%= f.input :notes, :input_html => { :rows => 5 }, :wrapper_html => { :class => "col-md-11" } %>
  </div>
  <div class="form-group">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <span class="glyphicon glyphicon-ok glyphicon-inverse"></span> <%= t('actions.update') %>  
    <% end %>
    <%= link_to licenses_path, :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> <%= t('actions.back') %>      
    <% end %> 
  </div>
<% end %>
