<%= render :partial => "search_license" %>
<%= will_paginate @licenses, :renderer => BootstrapPagination::Rails %>
<% if @order_search == 'name'         then class_name         = 'btn btn-primary btn-block btn-sm' else class_name         = 'btn btn-default btn-block btn-sm' end %>
<% if @order_search == 'description'  then class_description  = 'btn btn-primary btn-block btn-sm' else class_description  = 'btn btn-default btn-block btn-sm' end %>
<% if @order_search == 'license_type' then class_license_type = 'btn btn-primary btn-block btn-sm' else class_license_type = 'btn btn-default btn-block btn-sm' end %>
<% if @order_search == 'category'     then class_category     = 'btn btn-primary btn-block btn-sm' else class_category     = 'btn btn-default btn-block btn-sm' end %>

<%= form_tag licenses_path, :method => 'get', :class => 'form-group', :role => 'form' do %>
<div class="table-responsive">  	
<table class="table table-striped table-condensed table-bordered">
  <thead>	
  <tr>
    <th><%= button_tag(:class => class_name, :type => 'submit', :name => 'order_search', :value => 'name') do  %>
    	<b><%= t('activerecord.attributes.license.name')%></b><% if !@down_name.nil? %><% if @down_name %><span class="caret"><% else %><span class="caret-up"><% end %></span>
    <% end %><% end %> </th>
    <th><%= button_tag(:class => class_description, :type => 'submit', :name => 'order_search', :value => 'description') do  %>
    	<b><%= t('activerecord.attributes.license.description')%></b><% if !@down_description.nil? %><% if @down_description %><span class="caret"><% else %><span class="caret-up"><% end %></span>
    <% end %><% end %></th>
    <th><%= t('activerecord.attributes.license.version') %></th>
    <th><%= t('activerecord.attributes.license.flag_osi') %></th>
    <th><%= button_tag(:class => class_license_type, :type => 'submit', :name => 'order_search', :value => 'license_type') do  %>
    	<b><%= t('activerecord.attributes.license.license_type')%></b><% if !@down_license_type.nil? %><% if @down_license_type %><span class="caret"><% else %><span class="caret-up"><% end %></span>
    <% end %><% end %></th>
    <th><%= button_tag(:class => class_category, :type => 'submit', :name => 'order_search', :value => 'category') do  %>
    	<b><%= t('activerecord.attributes.license.category')%></b><% if !@down_category.nil? %><% if @down_category %><span class="caret"><% else %><span class="caret-up"><% end %></span>
    <% end %><% end %></th>
    <th><%= t('activerecord.attributes.license.text_license') %></th>
    <th><%= t('actions.actions') %></th>    
  </tr>    
 </thead>
  <tbody>
  <% @licenses.each do |license| %>
  <tr>
    <td><%= license.name %></td>
    <td><%= license.description %></td>
    <td><%= license.version %></td>
    <td><% if license.flag_osi %><span class="label label-primary">osi</span><% end %></td>
    <td><%= unless license.license_type.nil?; license.license_type.description; end %></td>
    <td><%= unless license.category.nil?; license.category.name; end %></td>
    <td><% if license.text_license.size > 0 %><span class="glyphicon glyphicon-ok"></span><% end %></td>
    <td>
      <div class="btn-group">
    	<%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>'), license, :class => "btn btn-default", :title => t('actions.show'), :alt => t('actions.show') %>
    	<%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_license_path(license), :class => "btn btn-default", :title => t('actions.edit'), :alt => t('actions.edit') %>
    	<%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), license, method: :delete, data: { confirm: t('actions.are_you_sure') }, :class => "btn btn-default", :title => t('actions.destroy'), :alt => t('actions.destroy') %>
      </div>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
<% end %>
<br />
<%= link_to new_license_path, :class => "btn btn-default", :title => t('actions.new'), :alt => t('actions.new') do %>
  <span class="glyphicon glyphicon-plus"></span> <%= t('actions.new') %>
<% end %>

