<%= render :partial => "search_license" %>
<%= will_paginate @licenses, :renderer => BootstrapPagination::Rails %>
<div class="table-responsive">  	
<table class="table table-striped table-bordered">
  <tr>
  	<%= form_tag licenses_path, :method => 'get' %>
    <th><%= button_tag(:class => @class_name, :type => 'submit', :name => 'order', :value => 'name') do  %>
    	<%= t('activerecord.attributes.license.name')%> <% if !@down_name.nil? %><% if @down_name %><i class="glyphicon glyphicon-chevron-down"><% else %><i class="glyphicon glyphicon-chevron-up"><% end %></i>
    <% end %><% end %></th>
    <th><%= button_tag(:class => @class_description, :type => 'submit', :name => 'order', :value => 'description') do  %>
    	<%= t('activerecord.attributes.license.description')%> <% if !@down_description.nil? %><% if @down_description %><i class="glyphicon glyphicon-chevron-down"><% else %><i class="glyphicon glyphicon-chevron-up"><% end %></i>
    <% end %><% end %></th>
    <th><%= t('activerecord.attributes.license.version') %></th>
    <th><%= t('activerecord.attributes.license.flag_osi') %></th>
    <th><%= button_tag(:class => @class_license_type, :type => 'submit', :name => 'order', :value => 'license_type') do  %>
    	<%= t('activerecord.attributes.license.license_type')%> <% if !@down_license_type.nil? %><% if @down_license_type %><i class="glyphicon glyphicon-chevron-down"><% else %><i class="glyphicon glyphicon-chevron-up"><% end %></i>
    <% end %><% end %></th>
    <th><%= button_tag(:class => @class_category, :type => 'submit', :name => 'order', :value => 'category') do  %>
    	<%= t('activerecord.attributes.license.category')%> <% if !@down_category.nil? %><% if @down_category %><i class="glyphicon glyphicon-chevron-down"><% else %><i class="glyphicon glyphicon-chevron-up"><% end %></i>
    <% end %><% end %></th>
    <th><%= t('activerecord.attributes.license.text_license') %></th>
    <th><%= t('actions.actions') %></th>
    </form>
  </tr>    

<% @licenses.each do |license| %>

  <tr>
    <td><%= license.name %></td>
    <td><%= license.description %></td>
    <td><%= license.version %></td>
    <td><% if license.flag_osi %><span class="label label-info">osi</span><% end %></td>
    <td><%= unless license.license_type.nil?; license.license_type.description; end %></td>
    <td><%= unless license.category.nil?; license.category.name; end %></td>
    <td><% if license.text_license.size > 0 %><i class="glyphicon glyphicon-ok"></i><% end %></td>
    <td>
      <div class="btn-group">
    	<%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i>'), license, :class => "btn btn-default", :title => t('actions.show'), :alt => t('actions.show') %>
    	<%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_license_path(license), :class => "btn btn-default", :title => t('actions.edit'), :alt => t('actions.edit') %>
    	<%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), license, method: :delete, data: { confirm: t('actions.are_you_sure') }, :class => "btn btn-default", :title => t('actions.destroy'), :alt => t('actions.destroy') %>
      </div>
    </td>

  </tr>
<% end %>
</table>
</div>
<br />
<%= link_to new_license_path, :class => "btn btn-default", :title => t('actions.new'), :alt => t('actions.new') do %>
  <i class="glyphicon glyphicon-plus"></i> <%= t('actions.new') %>
<% end %>

