<p>
  <b><%= t('activerecord.attributes.license.name') %>:</b>
  <%= @license.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.license.description') %>:</b>
  <%= @license.description %>
</p>

<p>
  <b><%= t('activerecord.attributes.license.version') %>:</b>
  <%= @license.version %>
</p>

<p>
  <b><%= t('activerecord.attributes.license.category') %>:</b>
  <% if !@license.category.nil? %>
   <%= @license.category.name %>
  <% end %>
</p>

<p>
  <b><%= t('activerecord.attributes.license.text_license') %>:</b>
  <%= simple_format(@license.text_license) %>
</p>

<br />
<div class="form-group">
    <%= link_to edit_license_path(@license), :class => "btn btn-default" do %>
      <i class="glyphicon glyphicon-pencil"></i> <%= t('actions.edit') %>      
    <% end %>    
    <%= link_to license_download_path(@license), :class => "btn btn-default" do %>
      <i class="glyphicon glyphicon-download-alt"></i> <%= t('actions.download') %>      
    <% end %>    
    <%= link_to licenses_path, :class => "btn btn-default" do %>
      <i class="glyphicon glyphicon-arrow-left"></i> <%= t('actions.back') %>      
    <% end %>    
</div>