<%= simple_form_for(@use) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <%= f.input :name %>
    <%= f.input :description, :input_html => { :class => "span6" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('actions.back'), uses_path, :class => "btn" %>
  </div>
<% end %>
