<p id="notice"><%= notice %></p>

<p>
  <b><%= t('activerecord.attributes.use.name') %>:</b>
  <%= @use.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.use.description') %>:</b>
  <%= @use.description %>
</p>

<br />
<div class="form-group">
    <%= link_to edit_use_path(@use), :class => "btn btn-default" do %>
      <i class="glyphicon glyphicon-pencil"></i> <%= t('actions.edit') %>      
    <% end %>    
    <%= link_to uses_path, :class => "btn btn-default" do %>
      <i class="glyphicon glyphicon-arrow-left"></i> <%= t('actions.back') %>      
    <% end %>    
</div>