<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Alice SpyMailer - Modifica Release</h1>
    <p>
      Prodotto: <strong><%= @release.product.name %></strong><br/>
      Release: <strong><%= @release.version_name %></strong><br/>
    </p>
    <p>
      <a href="mailto:<%= @release.user %>"><%= @release.user %></a> ha impostato<br/>
      licenza: <strong><%= @license_name %></strong><br/>
    </p>
    <p>
      Link diretto alla release: <%= link_to "#{@release.product.name} #{@release.version_name}", edit_release_url(@release) %>
    </p>
  </body>
</html>
