<%= simple_form_for(@component) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <%= f.input :name %>
    <%= f.input :version, :input_html => { :class => "span2" } %>
    <%= f.input :title, :input_html => { :class => "span6" } %>
    <%= f.input :description, :input_html => { :class => "span7" } %>
    <%= f.association :license, collection: License.all(order: 'name') %>
    <%= f.association :use, label_method: :description %>
    <%= f.input :checked_at %>
    <%= f.input :result %>
    <%= f.input :notes, :input_html => { :class => "span7" } %>
  </div>

  <br />
  <div class="form-actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="icon-ok icon-white"></i> <%= t('actions.update') %>  
    <% end %>
    <%= link_to components_path, :class => "btn" do %>
      <i class="icon-arrow-left"></i> <%= t('actions.back') %>      
    <% end %> 
  </div>
<% end %>
