<%= simple_form_for(@component) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <div class="row">
      <%= f.input :name, :wrapper_html => { :class => "col-md-3" } %>
      <%= f.input :title, :wrapper_html => { :class => "col-md-5" }, :input_html => { :class => "col-md-5" } %>
      <%= f.association :use, label_method: :description, :wrapper_html => { :class => "col-md-3" } %>
    </div>
    <div class="row">
      <%= f.input :version, :wrapper_html => { :class => "col-md-3" } %>
      <%= f.association :license, collection: License.all(order: 'name'), :wrapper_html => { :class => "col-md-3" } %>
      <%= f.input :checked_at, :wrapper_html => { :class => "col-md-3" },  :input_html => { :class => "col-md-1" } %>
      <%= f.input :result, :wrapper_html => { :class => "col-md-1" } %>
    </div>
    <div class="row">
      <%= f.input :purchased, :wrapper_html => { :class => "col-md-1" } %>
      <%= f.input :own, :wrapper_html => { :class => "col-md-1" } %>
      <%= f.input :leave_out, :wrapper_html => { :class => "col-md-1" } %>
    </div>
    <%= f.input :description, :input_html => { :class => "col-md-11", :rows => 5 } %>
    <%= f.input :notes, :input_html => { :class => "col-md-11", :rows => 5 } %>
  </div>

  <div class="form-group">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="glyphicon glyphicon-ok glyphicon-inverse"></i> <%= t('actions.update') %>  
    <% end %>
    <%= link_to components_path, :class => "btn btn-default" do %>
      <i class="glyphicon glyphicon-arrow-left"></i> <%= t('actions.back') %>      
    <% end %> 
  </div>
<% end %>
