<%= simple_form_for(@component) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <%= f.input :name %>
    <%= f.input :version, :input_html => { :class => "span2" } %>
    <%= f.input :title, :input_html => { :class => "span6" } %>
    <%= f.input :description, :input_html => { :class => "span7" } %>
    <%= f.association :license %>
    <%= f.association :use, label_method: :description %>
    <%= f.input :checked_at %>
    <%= f.input :result %>
    <%= f.input :notes, :input_html => { :class => "span7" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('actions.back'), components_path, :class => "btn" %>
  </div>
<% end %>
