<%= simple_form_for(@component) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <div class="row">
      <%= f.input :name, :wrapper_html => { :class => "col-md-3" } %>
      <%= f.input :title, :wrapper_html => { :class => "col-md-5" } %>
      <%= f.association :use, label_method: :description, :wrapper_html => { :class => "col-md-3" } %>
    </div>
    <div class="row">
      <%= f.input :version, :wrapper_html => { :class => "col-md-3" } %>
      <%= f.association :license, collection: License.all.order('name'), :wrapper_html => { :class => "col-md-3" } %>
   
      <div class="col-md-2">
      	<%= f.label :checked_at %> 
        <div id="date1" class="input-group date">
          <%= f.text_field :checked_at, :class => "form-control", :value => unless @component.checked_at.nil?; @component.checked_at.strftime('%d/%m/%Y'); end %>
          <span class="input-group-btn">
          	<button class="btn btn-default" type="button">
          	  <span class="glyphicon glyphicon-calendar"></span>
          	</button>  
          </span>
        </div>  
      </div>             
      <script type="text/javascript">
        $(function () {
          $('#date1').datetimepicker({
            pickTime: false,
            language: 'it'
          });
        });
      </script>

      <%= f.input :result, :wrapper_html => { :class => "col-md-1" } %>
    </div>

    <div class="row">
      <%= f.input :purchased, :wrapper_html => { :class => "col-md-1" } %>
      <%= f.input :own, :wrapper_html => { :class => "col-md-1" } %>
      <%= f.input :leave_out, :wrapper_html => { :class => "col-md-1" } %>
    </div>
    <div class="row">  
      <%= f.input :description, :wrapper_html => { :class => "col-md-11" }, :input_html => { :rows => 5 } %>
    </div>
    <div class="row">
      <%= f.input :notes, :wrapper_html => { :class => "col-md-11" }, :input_html => { :rows => 5 } %>
    </div>
  </div>
  
  <div class="form-group">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <span class="glyphicon glyphicon-ok glyphicon-inverse"></span> <%= t('actions.update') %>  
    <% end %>
    <%= link_to components_path, :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> <%= t('actions.back') %>      
    <% end %> 
  </div>
<% end %>
