<%= will_paginate @components, :renderer => BootstrapPagination::Rails %>

<table class="table table-striped">
  <tr>
  	<th><%= t('activerecord.attributes.component.name') %></th>
    <th><%= t('activerecord.attributes.component.version') %></th>
    <th><%= t('activerecord.attributes.component.title') %></th>
    <th><%= t('activerecord.attributes.component.description') %></th>
    <th><%= t('activerecord.attributes.component.license') %></th>
    <th><%= t('activerecord.attributes.component.use') %></th>
    <th><%= t('activerecord.attributes.component.checked_at') %></th>
    <th><%= t('activerecord.attributes.component.result') %></th>
    <th><%= t('activerecord.attributes.component.notes') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @components.each do |component| %>
  <tr>
    <td><%= component.name %></td>
    <td><%= component.version %></td>
    <td><%= component.title %></td>
    <td><% if component.description.size > 0 %><i class="icon-ok"></i><% end %></td>
    <td><%= unless component.license.nil?; component.license.name; end %></td>
    <td><%= unless component.use.nil?; component.use.description; end %></td>
    <td><%= l component.checked_at %></td>
    <td><% if component.result? %><span class="label label-success">OK</span>
    	<% else %><span class="label label-important">KO</span><% end %></td>
    <td><% if component.notes.size > 0 %><i class="icon-ok"></i><% end %></td>
    <td><%= link_to '', component, :class => "icon-eye-open", :title => t('actions.show'), :alt => t('actions.show') %></td>
    <td><%= link_to '', edit_component_path(component), :class => "icon-pencil", :title => t('actions.edit'), :alt => t('actions.edit') %></td>
    <td><%= link_to '', component, method: :delete, data: { confirm: t('actions.are_you_sure') }, :class => "icon-trash", :title => t('actions.destroy'), :alt => t('actions.destroy') %></td>    
  </tr>
<% end %>
</table>

<br />
<i class="icon-plus"></i>
<%= link_to t('actions.new'), new_component_path, :title => t('actions.new'), :alt => t('actions.new') %>
