<%= simple_form_for(@detection) do |f| %>
  <%= f.error_notification %>

  <h4><%= t('activerecord.attributes.product.name') %>: <%= @detection.product.name %></h4>

  <div class="form-inputs form-horizontal">
    <%= f.input :name %>
  </div>
  
  <div class="form-actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="icon-ok icon-white"></i> <%= t('actions.save') %>
    <% end %>
    <%= link_to (detections_path + "?product_id=#{@detection.product.id}"), :class => "btn" do %>
      <i class="icon-arrow-left"></i> <%= t('actions.back') %>
    <% end %>
  </div>
  
<% end %>
