<%= simple_form_for(@detection, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag 'product_id', @detection.product.id %>

  <button class="btn btn-lg btn-block btn-primary disabled" type="button">
    <%= t('activerecord.models.product') %>: <%= @detection.product.name %> - Vers. <%= @detection.product.version %>
  </button>
  <br />
  <br />
 
  <div class="form-group">
  	<div class="col-sx-6 col-sm-6 col-md-6 col-lg-6"> 
      <%= f.input :name %>
      <%= f.input :xml, :input_html => { :class => "btn btn-default" } %>
    </div>
  </div>
  <br />
  <br />
  
  <div class="form-group">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <span class="glyphicon glyphicon-ok glyphicon-inverse"></span> <%= t('actions.save') %>
    <% end %>
    <%= link_to (detections_path + "?product_id=#{params[:product_id]}"), :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> <%= t('actions.back') %>
    <% end %>
  </div>

<% end %>