<button class="btn btn-large btn-block btn-primary disabled" type="button">
  <%= t('activerecord.models.rule') %>: <%= @rule.name %> - <%= t('activerecord.models.license') %>: <%= @rule.license.name %><% if @rule.plus %> + <% end %>
</button>
<br />

<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
<%= render :partial => "search_license" %>
<div class="row-fluid">

<div class="span6">
<div class="well sidebar-nav">

<%= will_paginate @license, :renderer => BootstrapPagination::Rails %>	

<%= form_tag rule_rule_entries_path, :method => 'post' do |f| %>
<table class="table table-striped">
  <tr>
    <th><%= t('actions.new') %> <%= t('activerecord.models.rules') %></th>
  </tr>   
  <tr>
    <th><%= t('actions.select') %></th>
    <th><%= t('activerecord.attributes.rule_data.license') %></th>
    <th><%= t('activerecord.attributes.rule_data.plus') %></th>
    <th><%= t('activerecord.attributes.rule_data.order') %></th>
  </tr> 

  <% @license.each do |license| %>
 
  <tr>
    <td><%= check_box_tag "license_add[]", license.id, false, :multiple => "true" %></td>
    <td><%= license.name %></td>
    <td><%= f.input :plus %></td>
    <td><%= f.input :order %></td>
  </tr>
<% end %>
</table>

</div><!--/.well -->
</div><!--/.span6 -->

<div class="span6">
<div class="well sidebar-nav">
<!--Rule selected content-->
<ul class="nav nav-list">
  <li class="nav-header"><%= t('actions.destroy') %> <%= t('activerecord.models.rules') %></li>
  <li class="divider"></li>
  <!-- % @rule_datas.each do |rule_data| %>
    <li>
      <label class="checkbox inline">
        < %= check_box_tag "rule_data_del[]", rule_data.id, false, :multiple => "true" % >
        < %= rule_data.license.name % >
        < %= check_box_tag "plus_del[]", rule_data.id, false, :multiple => "true" % >
     </label>  
    </li>
  < % end %-->
</ul>
</div><!--/.well -->
</div><!--/.span6 -->

</div><!--/.row -->

</div><!--/span12 -->
</div><!--/.row -->
</div><!--/.container -->

<br />
<%= link_to rules_path, :class => "btn", :title => t('actions.back'), :alt => t('actions.back') do %>
      <i class="icon-arrow-left"></i> <%= t('actions.back') %>      
<% end %> 
<%= button_tag(type: 'submit', class: "btn btn-primary", :title => t('actions.update'), :alt => t('actions.update')) do %>
  <i class="icon-ok icon-white"></i> <%= t('actions.update') %>  
<% end %>

<% end %>