<div class="row">
  <div class="col-md-4">
    <h4>Licenze OSI</h4>
    <br />
    <p>
      <%= image_tag("sfondo1.png", :alt => "Elenco Licenze OSI", :class => "img-responsive img-rounded") %>
    </p>
    <br />
    <p>
      Elenco delle licenze open source riconosciute da Open Source Initiative (OSI). <br /> 
      La <b>Open Source Initiative</b> è un'organizzazione, fondata nel febbraio 1998, dedicata a promuovere software open source.   
    </p>
    <br />
    <p><%= link_to t('actions.view_details'), licenses_path, :class => "btn btn-default" %></p>
  </div>
  <div class="col-md-4">
    <h4>Verifica licenze</h4>
    <br />
    <p>
      <%= image_tag("sfondo2.png", :alt => "Verifica licenze", :class => "img-responsive img-rounded") %>
    </p>
    <br />
    <p>
      Verifica del corretto utilizzo delle lilcenze dei componenti dell'applicazione in funzione del tipo di utilizzo del prodotto e della sua licenza finale. <br />
      Per la verifica occorre fornire l'elenco dei componenti utilizzati.
    </p>
    <br />
    <p><%= link_to t('actions.view_details'), products_path(:commit => "clear"), :class => "btn btn-default" %></p>
  </div>
  <div class="col-md-4">
    <h4>Componenti controllati</h4>
    <br />
    <p>
      <%= image_tag("sfondo3.png", :alt => "Componenti controllati", :class => "img-responsive img-rounded") %>
    </p>
    <br />
    <p>
      Archivio dei componenti verificati. Questo archivio viene incrementato ogni volta che si effettua una verifica delle licenze. <br />
      Contiene le informazioni rilevanti sui componenti e sulla loro modalità di utilizzo.
    </p>
    <br />
    <p><%= link_to t('actions.view_details'), components_path(:commit => "clear"), :class => "btn btn-default" %></p>
  </div>
</div>