<button class="btn btn-large btn-block btn-primary disabled" type="button">
  <%= t('activerecord.models.rule') %>: <%= @rule.name %> - <%= t('activerecord.models.license') %>: <%= @rule.license.name %><% if @rule.plus %> + <% end %>
</button>
<br />

<div class="container-fluid">
<%= render :partial => "licenses/search_license" %>
<div class="row-fluid">
<div class="span12">

<div class="span6">
<div class="well sidebar-nav">
<ul class="nav nav-list">
  <li class="nav-header"><%= t('actions.new') %> <%= t('activerecord.models.rules') %></li>
  <li class="divider"></li>
</ul>  
<%= will_paginate @licenses, :renderer => BootstrapPagination::Rails, :previous_label => '<', :next_label => '>', :inner_window => 2 %>	

<%= form_tag rule_rule_entries_path, :method => 'post' do |f| %>

<table class="table table-striped">
  <tr>
    <th><%= t('actions.add') %></th>
    <th><%= t('activerecord.attributes.rule_entry.license') %></th>
    <th><%= t('activerecord.attributes.license.version') %></th>
    <th><%= t('activerecord.attributes.license.description') %></th>
  </tr>

<% @licenses.each do |license| %>
  <tr>
    <td><%= check_box_tag "license_add[]", license.id, false, :multiple => "true" %></td>
    <td><%= license.name %></td>
    <td><%= license.version %></td>
    <td><%= license.description %></td>
  </tr>
<% end %>
</table>

</div><!--/.well -->
</div><!--/.span6 -->

<div class="span6">
<div class="well sidebar-nav">
<ul class="nav nav-list">
  <li class="nav-header"><%= t('actions.destroy') %> <%= t('activerecord.models.rules') %></li>
  <li class="divider"></li>
</ul>  	
<!--Rule selected content-->
<table class="table table-striped">
  <tr>
  	<th><%= t('actions.delete') %></th>
    <th><%= t('activerecord.attributes.rule_entry.license') %></th>
    <th><%= t('activerecord.attributes.license.description') %></th>
    <th><%= t('activerecord.attributes.rule_entry.order') %></th>
    <th><%= t('actions.edit') %></th>
  </tr>

<%= will_paginate @rule_entries, :param_name => 'rule_page', :renderer => BootstrapPagination::Rails, :previous_label => '<', :next_label => '>', :inner_window => 2 %>

<% @rule_entries.each do |rule_entry| %>
  <tr>
    <td><%= check_box_tag "license_del[]", rule_entry.id, false, :multiple => "true" %></td>
    <td><%= rule_entry.license.name %></td>
    <td><%= rule_entry.license.description %></td>
    <td><%= rule_entry.order_id %></td>
    <td>
      <%= button_tag(:class => 'btn btn-mini', :type => 'submit', :name => 'up', :value => rule_entry.id) do  %>
      <i class="icon-chevron-up"></i><% end %>
      <%= button_tag(:class => 'btn btn-mini', :type => 'submit', :name => 'down', :value => rule_entry.id) do  %>
      <i class="icon-chevron-down"></i><% end %>
    </td>
  </tr>
<% end %>
</table>

</div><!--/.well -->
</div><!--/.span6 -->

</div><!--/span12 -->
</div><!--/.row -->
</div><!--/.container -->

<br />

<%= button_tag(type: 'submit', class: "btn btn-primary", :title => t('actions.update'), :alt => t('actions.update')) do %>
  <i class="icon-ok icon-white"></i> <%= t('actions.update') %>  
<% end %>
<%= link_to rules_path, :class => "btn", :title => t('actions.back'), :alt => t('actions.back') do %>
      <i class="icon-arrow-left"></i> <%= t('actions.back') %>      
<% end %> 

<% end %>
