<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('activerecord.models.product') %>: <%= @product.name %> - v. <%= @product.version %></h3>
  </div>
  <div class="panel-body">
   	<div class="col-md-5">
  	<%= will_paginate @components_ties, :param_name => 'component_ties_page', :renderer => BootstrapPagination::Rails %>
  	</div>
    <%= form_tag product_ties_edit_path, :method => 'post' do |f| %>
        <div class="form-group col-md-2">
      <%= button_tag(type: 'submit', class: "btn btn-primary", :title => t('actions.destroy'), :alt => t('actions.destroy')) do %>
        <span class="glyphicon glyphicon-ok glyphicon-inverse"></span> <%= t('actions.destroy') %> <%= t('activerecord.models.components') %>
      <% end %>
    </div>     
  	<div class="tree col-md-12">
	  <ul>
	  	<li>
          <%= link_to @product.name+" - v. "+@product.version, product_ties_select_path(@product) %>
        </li>
        <ul>
        <% @components_ties.each do |component| %> 
          <li>
            <%= link_to component.name+" - v. "+component.version+" - lic. "+component.license.name, component_ties_select_path(component) %>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary">
                <span class="glyphicon glyphicon-minus"></span>
                <%= check_box_tag "component_del[]", component.id, false, :multiple => "true" %>
              </label>
            </div>
          </li>
        <% end %>
        </ul>        	
      </ul>
	</div>
   
    <% end %>
 </div>  
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('actions.search') %> <%= t('activerecord.models.ties') %>: <%= t('activerecord.models.component')  %></h3>
  </div>
  <div class="panel-body">
    <%= render :partial => "components/search_component" %>
   	<div class="col-md-5">	
      <%= will_paginate @components, :param_name => 'component_page', :renderer => BootstrapPagination::Rails %>	
    </div>
    <%= form_tag product_ties_edit_path, :method => 'post' do |f| %>
    <div class="form-group col-md-1">
      <%= button_tag(type: 'submit', class: "btn btn-primary", :title => t('actions.new'), :alt => t('actions.new')) do %>
        <span class="glyphicon glyphicon-ok glyphicon-inverse"></span> <%= t('actions.new') %> <%= t('activerecord.models.components') %>
      <% end %>
    </div> 
    <div class="table-responsive">
      <table class="table table-striped table-condensed table-bordered">
        <tr>
          <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><%= t('activerecord.attributes.component.name') %></th>
          <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><%= t('activerecord.attributes.component.version') %></th>
          <th class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><%= t('activerecord.attributes.component.title') %></th>
          <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><%= t('actions.select') %></th>
        </tr>
        <% @components.each do |component| %>
        <tr>
          <td><%= component.name %></td>
          <td><%= component.version %></td>
          <td><%= component.description %></td>
          <td>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>	
                <%= check_box_tag "component_add[]", component.id, false, :multiple => "true", :class => "form-control", :title => t('actions.select'), :alt => t('actions.select') %>
              </label>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>
</div>

  <%= link_to product_ties_destroy_path, :class => "btn btn-default", :method => 'delete', :action => 'destroy', :data => { confirm: t('actions.are_you_sure') },  :title => t('actions.destroy'), :alt => t('actions.destroy') do %>
    <span class="glyphicon glyphicon-trash"></span> <%= t('actions.destroy') %>      
  <% end %> 
  <%= link_to ties_index_path, :class => "btn btn-default", :title => t('actions.back'), :alt => t('actions.back') do %>
    <span class="glyphicon glyphicon-arrow-left"></span> <%= t('actions.back') %>      
  <% end %> 