<button class="btn btn-lg btn-block btn-primary disabled" type="button">
  <%= t('activerecord.models.product') %>: <%= @product.name %> - Vers. <%= @product.version %>
</button>
<br />
<div class="container">
<%= render :partial => "components/search_component" %>	
<div class="row">
<div class="col-md-12">	

<div class="row">
<div class="col-md-6">
<div class="well sidebar-nav">
<%= will_paginate @components, :param_name => 'component_page', :renderer => BootstrapPagination::Rails, :previous_label => '<', :next_label => '>', :inner_window => 2  %>	
<!--Component to select content-->
<%= form_tag product_ties_edit_path, :method => 'post' do |f| %>	
<ul class="nav nav-list">
  <li class="nav-header"><%= t('actions.new') %> <%= t('activerecord.models.components') %></li>
  <li class="divider"></li>
  <% @components.each do |component| %>
    <li>
      <label class="checkbox inline">
      <%= check_box_tag "component_add[]", component.id, false, :multiple => "true" %>
        <%= component.name+" - v. "+component.version+" - lic. "+component.license.name %>
     </label>  
    </li>
  <% end %>  
</ul>
</div><!--/.well -->
</div><!--/.col-md-6 -->

<div class="col-md-6">
<div class="well sidebar-nav">
<%= will_paginate @components_ties, :param_name => 'component_ties_page', :renderer => BootstrapPagination::Rails, :previous_label => '<', :next_label => '>', :inner_window => 2  %>	
<!--Component selected content-->
<ul class="nav nav-list">
  <li class="nav-header"><%= t('actions.destroy') %> <%= t('activerecord.models.components') %></li>
  <li class="divider"></li>
  <% @components_ties.each do |component_ties| %>
    <li>
      <label class="checkbox inline">
      <%= check_box_tag "component_del[]", component_ties.id, false, :multiple => "true" %>
        <%= component_ties.name+" - v. "+component_ties.version+" - lic. "+component_ties.license.name %>
     </label>  
    </li>
  <% end %>
</ul>
</div><!--/.well -->
</div><!--/.col-md-6 -->

</div><!--/.row -->

</div><!--/col-md-12 -->
</div><!--/.row -->
</div><!--/.container -->

<br />

<div class="form-group">
  <%= button_tag(type: 'submit', class: "btn btn-primary", :title => t('actions.update'), :alt => t('actions.update')) do %>
    <i class="glyphicon glyphicon-ok glyphicon-inverse"></i> <%= t('actions.update') %>  
  <% end %>
  <%= link_to product_ties_destroy_path, :class => "btn btn-default", :method => 'delete', :action => 'destroy', :data => { confirm: t('actions.are_you_sure') },  :title => t('actions.destroy'), :alt => t('actions.destroy') do %>
    <i class="glyphicon glyphicon-trash"></i> <%= t('actions.destroy') %>      
  <% end %> 
  <%= link_to ties_index_path, :class => "btn btn-default", :title => t('actions.back'), :alt => t('actions.back') do %>
    <i class="glyphicon glyphicon-arrow-left"></i> <%= t('actions.back') %>      
  <% end %> 
</div>

<% end %>