<button class="btn btn-large btn-block btn-primary disabled" type="button">
  <%= t('activerecord.models.product') %>: <%= @product.name %> - Vers. <%= @product.version %>
</button>
<br />
<div class="container-fluid">
<div class="row-fluid">
<div class="span12">	

<div class="row-fluid">
<div class="span6">
<%= render :partial => "components/search_component" %>
<div class="well sidebar-nav">
<%= will_paginate @components, :renderer => BootstrapPagination::Rails %>	
<!--Component to select content-->
<%= form_tag product_ties_edit_path, :method => 'post' do |f| %>	
<ul class="nav nav-list">
  <li class="nav-header"><%= t('actions.new') %> <%= t('activerecord.models.components') %></li>
  <li class="divider"></li>
  <% @components.each do |component| %>
    <li>
      <label class="checkbox inline">
      <%= check_box_tag "component_add[]", component.id, false, :multiple => "true" %>
        <%= component.name+" - Vers. "+component.version %>
     </label>  
    </li>
  <% end %>  
</ul>
</div><!--/.well -->
</div><!--/.span6 -->

<div class="span6">
<div class="well sidebar-nav">
<!--Component selected content-->
<ul class="nav nav-list">
  <li class="nav-header"><%= t('actions.destroy') %> <%= t('activerecord.models.components') %></li>
  <li class="divider"></li>
  <% @components_ties.each do |component_ties| %>
    <li>
      <label class="checkbox inline">
      <%= check_box_tag "component_del[]", component_ties.id, false, :multiple => "true" %>
        <%= component_ties.name+" - Vers. "+component_ties.version %>
     </label>  
    </li>
  <% end %>
</ul>
</div><!--/.well -->
</div><!--/.span6 -->

</div><!--/.row -->

</div><!--/span12 -->
</div><!--/.row -->
</div><!--/.container -->

<br />

<%= button_tag(type: 'submit', class: "btn btn-primary", :title => t('actions.update'), :alt => t('actions.update')) do %>
  <i class="icon-ok icon-white"></i> <%= t('actions.update') %>  
<% end %>
<%= link_to ties_index_path, :class => "btn", :title => t('actions.back'), :alt => t('actions.back') do %>
  <i class="icon-arrow-left"></i> <%= t('actions.back') %>      
<% end %> 

<% end %>