<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <% if !@release.nil? %>
    	<%= t('activerecord.models.release') %>: <%= @release.product.name %> - v. <%= @release.version_name %>
      <% end %>
      <% if !@component.nil? %>
    	<%= t('activerecord.models.component') %>: <%= @component.name %> - v. <%= @component.version %>
      <% end %>
    </h3>
  </div>
  <div class="panel-body">
  	<div class="tree col-md-6">
	  <ul>
	  	<li>
          <% if !@release.nil? %>
            <%= link_to @release.product.name+" - v. "+@release.version_name, release_ties_select_path(@release) %>
          <% end %>
          <% if !@component.nil? %>
            <%= link_to @component.name+" - v. "+@component.version, component_ties_select_path(@component) %>
          <% end %>
        </li>
        <ul>
        <% if !@release.nil? %>
          <% @components.each do |component| %> 
            <li>
              <%= link_to component.name+" - v. "+component.version+" - lic. "+component.license.name, component_ties_select_path(component) %>
            </li>
          <% end %>
        <% end %>
        <% if !@component.nil? %>
          <% @releases.each do |release| %> 
            <li>
              <%= link_to release.product.name+" - v. "+release.version_name+" - lic. "+release.license.name, release_ties_select_path(release) %>
            </li>
          <% end %>
        <% end %>
        </ul>        	
      </ul>
	</div>
  	<div class="col-md-6">
    <% if !@release.nil? %>
      <%= will_paginate @components, :param_name => 'component_page', :renderer => BootstrapPagination::Rails %>
    <% end %>
    <% if !@component.nil? %>
      <%= will_paginate @releases, :renderer => BootstrapPagination::Rails %>
    <% end %>
  	</div>
  </div>  
</div>  
<%= link_to ties_index_path, :class => "btn btn-default" do %>
  <span class="glyphicon glyphicon-arrow-left"></span> <%= t('actions.back') %>
<% end %>
<% if !@release.nil? %>
  <%= link_to release_ties_edit_path, :class => "btn btn-default", :title => t('actions.edit'), :alt => t('actions.edit') do %>
    <span class="glyphicon glyphicon-pencil"></span> <%= t('actions.edit') %>
  <% end %>
<% end %>