<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('activerecord.models.product') %>: <%= @product.name %> - v. <%= @product.version %></h3>
  </div>
  <div class="panel-body">
  	<div class="tree col-md-6">
	  <ul>
	  	<li>
          <%= link_to @product.name+" - v. "+@product.version, product_ties_select_path(@product) %>
        </li>
        <ul>
        <% @components.each do |component| %> 
          <li>
            <%= link_to component.name+" - v. "+component.version+" - lic. "+component.license.name, component_ties_select_path(component) %>
          </li>
        <% end %>
        </ul>        	
      </ul>
	</div>
  	<div class="col-md-6">
  	<%= will_paginate @components, :param_name => 'page', :renderer => BootstrapPagination::Rails, :previous_label => '<', :next_label => '>', :inner_window => 2  %>
  	</div>
  </div>  
</div>  
<%= link_to products_path, :class => "btn btn-default" do %>
  <span class="glyphicon glyphicon-arrow-left"></span> <%= t('actions.back') %>
<% end %>