<%= simple_form_for(@detected_component) do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag 'detection_id', @detected_component.detection.id %>

  <button class="btn btn-large btn-block btn-primary disabled" type="button">
  	<%= t('activerecord.models.product') %>: <%= @detected_component.detection.product.name %>
  	 - Vers. <%= @detected_component.detection.product.version %>
  </button>

  <h4><%= t('activerecord.attributes.detection.name') %>: <%= @detected_component.detection.name %></h4>
  
  <div class="form-inputs form-horizontal">
    <dl class="dl-horizontal">
      <dt><%= t('activerecord.attributes.detected_component.name') %></dt>
      <dd><%= @detected_component.name %></dd>
      <dt><%= t('activerecord.attributes.detected_component.version') %></dt>
      <dd><%= @detected_component.version %></dd>
      <dt><%= t('activerecord.attributes.detected_component.license_name') %></dt>
      <dd><%= @detected_component.license_name %></dd>
      <dt><%= t('activerecord.attributes.detected_component.license_version') %></dt>
      <dd><%= @detected_component.license_version %></dd>
    </dl>
    <% if @detected_component.component_id.nil? %>
      <%= f.input :license_id, collection: @licenses, value_method: :id, label_method: :description %>
    <% else %>
      <dl class="dl-horizontal">
        <dt><%= t('activerecord.attributes.detected_component.license_id') %></dt>
        <dd><%= License.find(@detected_component.license_id).name %></dd>
      </dl>
    <% end %>
  </div>

  <div class="form-actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="icon-ok icon-white"></i> <%= t('actions.save') %>
    <% end %>
    <%= link_to (detected_components_path + "?detection_id=#{@detected_component.detection.id}"), :class => "btn" do %>
      <i class="icon-arrow-left"></i> <%= t('actions.back') %>
    <% end %>
  </div>
<% end %>
