<button class="btn btn-lg btn-block btn-primary disabled" type="button">
  <%= t('activerecord.models.product') %>: <%= @product.name %>
     <% if !@product.version.blank? %> - Vers. <%= @product.version %> <% end %> &nbsp; 
  <%= t('activerecord.attributes.detection.name') %>: <%= Detection.find(params[:detection_id]).name %>
</button>
<br />
<br />

<%= will_paginate @detected_components, :renderer => BootstrapPagination::Rails %>
<br />

<table class="table table-condensed table-striped table-bordered">
  <tr>
    <th><%= t('activerecord.attributes.detected_component.name_long') %></th>
    <th><%= t('activerecord.attributes.detected_component.version_long') %></th>
    <th><%= t('activerecord.attributes.detected_component.license_name') %></th>
    <th><%= t('activerecord.attributes.detected_component.license_version') %></th>
    <th><%= t('activerecord.attributes.detected_component.license_id') %></th>
    <th><%= t('activerecord.attributes.detected_component.own') %></th>
    <th><%= t('actions.actions') %></th>
  </tr>

<% @detected_components.each do |detected_component| %>
  <tr>
    <td><%= detected_component.name %></td>
    <td class="text-center"><%= detected_component.version %></td>
    <td><%= detected_component.license_name %></td>
    <td class="text-center"><%= detected_component.license_version %></td>
    <td>
      <% if !detected_component.license_id.nil? %>
        <%= License.find(detected_component.license_id).description %>
      <% else %>
        <span class="label label-important">KO</span>
      <% end %>
    <td>
      <% if detected_component.own %>
        <p class="text-center"><i class="glyphicon glyphicon-ok"></i></p>
      <% end %>
    </td>
    
    <td><div class="btn-group">
      <%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_detected_component_path(detected_component), :class => "btn btn-default", :title => t('actions.edit'), :alt => t('actions.edit') %>
      <% if detected_component.detection.acquired %>
       <%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), "#", :class => "btn btn-default", disabled: true, :title => t('actions.disabled'), :alt => t('actions.disabled') %>
     <% else %>
       <%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), detected_component, method: :delete, data: { confirm: t('actions.are_you_sure') }, :class => "btn btn-default", :title => t('actions.destroy'), :alt => t('actions.destroy') %>
     <% end %>
    </td>
    
  </tr>
<% end %>
</table>

<br />
 <%= link_to (detections_path + "?product_id=#{Detection.find(params[:detection_id]).product_id}"), :class => "btn btn-default" do %>
   <i class="glyphicon glyphicon-arrow-left"></i> <%= t('actions.back') %>
<% end %>