<%= will_paginate @categories, :renderer => BootstrapPagination::Rails %>
<br />
<br />

<div class="table-responsive">
<table class="table table-striped table-bordered">
  <thead>	
  <tr>
    <th class="col-sm-2 col-xs-2"><%= t('activerecord.attributes.category.name') %></th>
    <th class="col-sm-6 col-xs-6"><%= t('activerecord.attributes.category.description') %></th>
    <th class="col-sm-4 col-xs-4"><%= t('actions.actions') %></th>
  </tr>  
  </thead>
  <tbody>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.description %></td>
    <td>
      <div class="btn-group">
    	<%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i>'), category, :class => "btn btn-default", :title => t('actions.show'), :alt => t('actions.show') %>
    	<%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_category_path(category), :class => "btn btn-default", :title => t('actions.edit'), :alt => t('actions.edit') %>
    	<%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), category, method: :delete, data: { confirm: t('actions.are_you_sure') }, :class => "btn btn-default", :title => t('actions.destroy'), :alt => t('actions.destroy') %>
      </div>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>

<br />
<%= link_to new_category_path, :class => "btn btn-default", :title => t('actions.new'), :alt => t('actions.new') do %>
  <i class="glyphicon glyphicon-plus"></i> <%= t('actions.new') %>
<% end %>
