<p><%= t('actions.messages.hello') %> <%= @resource.email %>!</p>

<p><%= t('actions.messages.requested_change_your_password') %></p>

<p><%= link_to t('actions.change_my_password'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('actions.messages.not_request_this') %></p>
<p><%= t('actions.messages.password_wont_change') %></p>
