<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('activerecord.models.product') %>: <b><%= @release.product.name %></b> - Vers. <b><%= @release.version_name %></b></h3>
  </div>
  <div class="panel-body">

<div class="panel panel-default">
  <div class="panel-body">
  <h4>
    <%= t('activerecord.attributes.release.check_result') %>:
    <% if @release.check_result.nil? %>
      <span class="label label-warning">NC</span>
    <% else %>
      <% if @release.check_result? %>
        <span class="label label-success">OK</span>
      <% else %>
        <span class="label label-danger">KO</span>
      <% end %>
    <% end %>
    <br/>
    <% if !@release.checked_at.nil? %><%= t('activerecord.attributes.release.checked_at') %>: <%= l @release.checked_at %><% end %>
    <br/>
    <%= t('activerecord.attributes.release.license_id') %>: <% if !@release.license.nil? %><%= @release.license.name %> <%= @release.license.version %><% end %>
    <br/>
    <%= t('activerecord.attributes.release.use') %>: <%= @release.product.use.description %>
    <br/>
    <% if !@release.check_result.nil? %>
     <%= t('activerecord.attributes.release.compatible_license_id') %>: <%= @release.compatible_license.name %>
     <% end %>
  </h4>
  </div>
</div>
  
    <% if @release.errors.full_messages.length > 0 %>
    <div class="alert alert-danger">
      <strong>Errori:</strong>
      <ol>
        <% @release.errors.full_messages.each do |msg| %>
           <li><label class="text-error"><%= msg %></label></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <% if !@release.warnings.nil? %>
    <div class="alert alert-warning">
      <strong>Avvisi:</strong>
      <ol>
        <% @release.warnings.full_messages.each do |msg| %>
           <li><label><%= msg %></label></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <% if !@release.infos.nil? %>
    <div class="alert alert-info">
      <strong>Informazioni:</strong>
      <ol>
        <% @release.infos.full_messages.each do |msg| %>
           <li><label><%= msg %></label></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  </div>
</div>  
