<%= simple_form_for(@release) do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag 'product_id', @release.product.id %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group string">
          <label class="string control-label">
            <%= t('activerecord.attributes.product.name_long') %>
          </label>
          <div>
            <%= @release.product.name %>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group string">
          <label class="string control-label">
            <%= t('activerecord.attributes.product.title') %>
          </label>
          <div>
            <%= @release.product.title %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group string">
          <label class="string control-label">
            <%= t('activerecord.attributes.product.use') %>
          </label>
          <div>
            <%= @release.product.use.description %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= f.input :version_name, :wrapper_html => { :class => "col-md-3" } %>
      <%= f.association :license, collection: License.all.order('name'), label_method: :description, :wrapper_html => { :class => "col-md-3" } %>
      <div class="col-md-2">
       <div class="form-group string">
         <label class="string control-label">
           <%= t('activerecord.attributes.release.checked_at') %>
          </label>
          <div>
            <% if !@release.checked_at.nil? %>
              <span class="label label-primary"><%= l @release.checked_at %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-1">
       <div class="form-group string">
         <label class="string control-label">
          <%= t('activerecord.attributes.release.check_result') %>
          </label>
          <div>
            <% if @release.check_result.nil? %>
              <span class="label label-warning">NC</span>
            <% else %>
              <% if @release.check_result %>
                <span class="label label-success">OK</span>
              <% else %>
                <span class="label label-danger">KO</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= f.input :sequential_number, input_html: { :type => "number", :step => "0.001"}, :wrapper_html => { :class => "col-md-3" } %>
      <%= f.input :groupage, :wrapper_html => { :class => "col-md-3" } %>
      <div class="col-md-6">
        <div class="form-group string">
          <label class="string control-label">
            <%= t('activerecord.attributes.release.compatible_license_id') %>
          </label>
          <div>
            <%= License.find(@release.compatible_license_id).description unless @release.compatible_license_id.nil? %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= f.input :notes, :wrapper_html => { :class => "col-md-11" }, :input_html => { :rows => 5 } %>
    </div>  
  </div>
  
  <div class="form-group">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <span class="glyphicon glyphicon-ok glyphicon-inverse"></span> <%= t('actions.update') %>  
    <% end %>
    <%= link_to (releases_path + "?product_id=#{@release.product.id}"), :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> <%= t('actions.back') %>      
    <% end %>
  </div>
<% end %>