<%= form_for @release, url: {action: 'update_check'}, html: {method: "post"} do |f| %>

  <%= hidden_field_tag 'release_id', @release.id %>
  <%= hidden_field_tag 'check_result', @release.check_result %>
  <%= hidden_field_tag 'compatible_license_id', (!@release.compatible_license.nil? ? @release.compatible_license.id : " ") %>

  <%= render 'check_result.html' %>

  <div class="form-group">

    <div class="form-group">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-ok glyphicon-inverse"></span> <%= t('actions.save') %>
      <% end %>
      <% if !@release.check_result.nil? %>
        <%= link_to release_print_check_path(@release, :format => :pdf), :class => "btn btn-default" do %>
          <span class="glyphicon glyphicon-print"></span> <%= t('actions.print') %>
        <% end %>
      <% end %>
      <%= link_to (releases_path + "?product_id=#{@release.product.id}"), :class => "btn btn-default" do %>
          <span class="glyphicon glyphicon-arrow-left"></span> <%= t('actions.back') %>
      <% end %>
    </div>

  </div>

<% end %>
