<meta charset="utf-8">
<%= wicked_pdf_stylesheet_link_tag "application" -%>
<%= wicked_pdf_stylesheet_link_tag "bootstrap_and_overrides" -%>
<%= wicked_pdf_javascript_include_tag "application" %>
<%= wicked_pdf_javascript_include_tag "d3.v3" %>

<style>
  body {
    background-color:#ffffff;
  }
  .row {
    width: 710px;
  }
  .col-md-5 {
    width: 350px;
    display:inline-block;
  }
  .col-md-11 {
    width: 700px;
    display:inline-block;
  }
  .btn-block {
    width: 690px;
  }
  .btn-large {
    padding: 0;
  }
</style>

<body onload="number_pages()">
  <%= render 'graphics.html' %>
  <%= render 'list_components.html' %>
</body>

<script>
  var donut_box_side = 150;
  var donut_font_size = "12px";
  var legend_font_size = "10px";
  var legend_rect_side = 12;
  var legend_width = 130;

// Proprietà componenti
  dataset = JSON.parse(document.getElementById("component_types").value);
  donut(dataset, "#graphics_area_1", "<%= t('activerecord.models.components') %>");

// Tipi di protezione licenze
  dataset = JSON.parse(document.getElementById("license_types").value);
  donut(dataset, "#graphics_area_2", "<%= t('activerecord.models.licenses') %>");

// Licenze
  dataset = JSON.parse(document.getElementById("licenses").value);
  legend_width = 547;
  donut(dataset, "#graphics_area_3", "<%= t('activerecord.models.licenses') %>");
</script>
