<%= simple_form_for(@release) do |f| %>

  <div class="form-group">

    <%= render 'graphics' %>

  <div class="form-group">
    <%= link_to releases_path + "?product_id=#{@release.product.id}", :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> <%= t('actions.back') %>      
    <% end %> 
    <%= link_to release_print_path(@release, :format => :pdf), :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-print"></span> <%= t('actions.print') %>      
    <% end %> 
  </div>
<% end %>

<script>
// Proprietà componenti
  dataset = JSON.parse(document.getElementById("component_types").value);
  donut(dataset, "#graphics_area_1", "<%= t('activerecord.models.components') %>");

// Tipi di protezione licenze
  dataset = JSON.parse(document.getElementById("license_types").value);
  donut(dataset, "#graphics_area_2", "<%= t('activerecord.models.licenses') %>");

// Licenze
  dataset = JSON.parse(document.getElementById("licenses").value);
  var legend_width = 800;
  donut(dataset, "#graphics_area_3", "<%= t('activerecord.models.licenses') %>");
</script>
