<%= simple_form_for(@rule) do |f| %>
  <%= f.error_notification %>

  <div class="form-group form-horizontal">
    <%= f.input :name %>
    <%= f.input :license_id, collection: License.all(order: 'name'), value_method: :id, label_method: :name %>
  </div>

  <div class="form-group">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="glyphicon glyphicon-ok glyphicon-inverse"></i> <%= t('actions.update') %>  
    <% end %>
    <%= link_to rules_path, :class => "btn btn-default" do %>
      <i class="glyphicon glyphicon-arrow-left"></i> <%= t('actions.back') %>      
    <% end %> 
  </div>
<% end %>
