<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <%= f.input :name, :wrapper_html => { :class => "span3" } %>
      <%= f.input :title, :wrapper_html => { :class => "span5" }, :input_html => { :class => "span5" } %>
      <%= f.association :use, label_method: :description, :wrapper_html => { :class => "span3" } %>
    </div>
    <div class="row">
      <%= f.input :version, :wrapper_html => { :class => "span3" } %>
      <%= f.association :license, collection: License.all(order: 'name'), :wrapper_html => { :class => "span3" } %>
      <%= f.input :checked_at , :wrapper_html => { :class => "span3" },  :input_html => { :class => "span1" } %>
      <%= f.input :result, :wrapper_html => { :class => "span1" } %>
    </div>
    <%= f.input :description, :input_html => { :class => "span11", :rows => 5 } %>
    <%= f.input :notes, :input_html => { :class => "span11", :rows => 5 } %>
  </div>

  <div class="form-actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="icon-ok icon-white"></i> <%= t('actions.update') %>  
    <% end %>
    <%= link_to products_path, :class => "btn" do %>
      <i class="icon-arrow-left"></i> <%= t('actions.back') %>      
    <% end %> 
  </div>
<% end %>
