<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <div class="row">
      <%= f.input :name, :wrapper_html => { :class => "col-md-3" } %>
      <%= f.input :title, :wrapper_html => { :class => "col-md-5" } %>
      <%= f.association :use, label_method: :description, :wrapper_html => { :class => "col-md-3" } %>
    </div>
    <div class="row">
      <%= f.input :version, :wrapper_html => { :class => "col-md-3" } %>
      <%= f.association :license, collection: License.all.order('name'), :wrapper_html => { :class => "col-md-3" } %>
      <div class="col-md-2">
        <%= t('activerecord.attributes.product.checked_at') %>
        </br></br>
        <% if !@product.checked_at.nil? %>
          <span class="label label-primary"><%= l @product.checked_at %></span>
        <% end %>
      </div>
      <div class="col-md-1">
        <%= t('activerecord.attributes.product.result') %>
        </br></br>
        <% if @product.result.nil? %>
          <span class="label label-warning">NC</span>
        <% else %>
          <% if @product.result %>
            <span class="label label-success">OK</span>
          <% else %>
            <span class="label label-important">KO</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= f.input :groupage, :wrapper_html => { :class => "col-md-3" } %>
    </div>
    <div class="row">
      <%= f.input :description, :wrapper_html => { :class => "col-md-11" }, :input_html => { :rows => 5 } %>
    </div>
    <div class="row">
      <%= f.input :notes, :wrapper_html => { :class => "col-md-11" }, :input_html => { :rows => 5 } %>
    </div>  
  </div>
  
  <div class="form-group">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="glyphicon glyphicon-ok glyphicon-inverse"></i> <%= t('actions.update') %>  
    <% end %>
    <%= link_to products_path, :class => "btn btn-default" do %>
      <i class="glyphicon glyphicon-arrow-left"></i> <%= t('actions.back') %>      
    <% end %> 
  </div>
<% end %>
