<%= hidden_field_tag 'component_types', @component_types %>
<%= hidden_field_tag 'license_types', @license_types %>
<%= hidden_field_tag 'licenses', @licenses %>
<br />
<button class="btn btn-lg btn-block btn-primary disabled" type="button">
  <%= t('activerecord.models.product') %>: <%= @product.name %> - Vers. <%= @product.version %>
</button>
<br />
<div class="row">
  <div class="col-md-5">
    <h4><%= t('actions.messages.components_for_ownership') %></h4>
    <div id="graphics_area_1"></div>
  </div>
  <div class="col-md-5">
    <h4><%= t('actions.messages.licenses_for_protection_level') %></h4>
    <div id="graphics_area_2"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-11">
    <h4><%= t('actions.messages.licenses_for_type') %></h4>
    <div id="graphics_area_3"></div>
  </div>
</div>
