<%= form_for @product, url: {action: 'update_check'}, html: {method: "post"} do |f| %>

  <%= hidden_field_tag 'product_id', @product.id %>
  <%= hidden_field_tag 'result', @product.result %>
  <%= hidden_field_tag 'compatible_license_id', (!@product.compatible_license.nil? ? @product.compatible_license.id : " ") %>

  <%= render 'check_result.html' %>

  <div class="form-inputs form-horizontal">

    <div class="form-actions">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <i class="icon-ok icon-white"></i> <%= t('actions.save') %>
      <% end %>
      <% if !@product.result.nil? %>
        <%= link_to product_print_check_path(@product, :format => :pdf), :class => "btn" do %>
          <i class="icon-print"></i> <%= t('actions.print') %>
        <% end %>
      <% end %>
      <%= link_to products_path, :class => "btn" do %>
          <i class="icon-arrow-left"></i> <%= t('actions.back') %>
      <% end %>
    </div>

  </div>

<% end %>
