<%= render :partial => "search_product_groupage" %>
<%= render :partial => "search_product" %>
<%= will_paginate @products, :renderer => BootstrapPagination::Rails %>
<% if @order_search == 'name'     then class_name     = 'btn btn-primary btn-block btn-sm' else class_name     = 'btn btn-default btn-block btn-sm' end %>
<% if @order_search == 'groupage' then class_groupage = 'btn btn-primary btn-block btn-sm' else class_groupage = 'btn btn-default btn-block btn-sm' end %>

<%= form_tag products_path, :method => 'get', :class => 'form-group', :role => 'form' do %>
<div class="table-responsive"> 
<table class="table table-striped table-condensed table-bordered">
  <tr>
    <th><%= button_tag(:class => class_name, :type => 'submit', :name => 'order_search', :value => 'name') do  %>
    	<%= t('activerecord.attributes.product.name')%> <% if !@down_name.nil? %><% if @down_name %><span class="caret"><% else %><span class="caret-up"><% end %></span>
    <% end %><% end %> </th>
    <th><%= t('activerecord.attributes.product.version') %></th>
    <th><%= t('activerecord.attributes.product.title') %></th>
    <th><%= button_tag(:class => class_groupage, :type => 'submit', :name => 'order_search', :value => 'groupage') do  %>
    	<%= t('activerecord.attributes.product.groupage')%> <% if !@down_groupage.nil? %><% if @down_groupage %><span class="caret"><% else %><span class="caret-up"><% end %></span>
    <% end %><% end %> </th>
    <th><%= t('activerecord.attributes.product.use') %></th>
    <th><%= t('activerecord.attributes.product.checked_at') %></th>
    <th><%= t('activerecord.attributes.product.result') %></th>
    <th><%= t('actions.actions') %></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.version %></td>
    <td><%= product.title %></td>
    <td><%= unless product.groupage.nil?; product.groupage; end %></td>
    <td><%= unless product.use.nil?; product.use.description; end %></td>
    <td><% if !product.checked_at.nil? %><%= l product.checked_at %><% end %></td>
    <td>
      <% if product.result.nil? %>
        <span class="label label-warning">NC</span>
        <% else %>
          <% if product.result? %>
            <span class="label label-success">OK</span>
        	<% else %>
    	     <span class="label label-important">KO</span>
          <% end %>
    	<% end %>
    </td>
    <td>
      <div class="btn-group">
    	<%= link_to raw('<i class="glyphicon glyphicon-picture"></i>'), product, :class => "btn btn-default", :title => t('actions.graphics'), :alt => t('actions.graphics') %>
    	<%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_product_path(product), :class => "btn btn-default", :title => t('actions.edit'), :alt => t('actions.edit') %>
        <%= link_to raw('<i class="glyphicon glyphicon-list"></i>'), product_ties_show_path(product), :class => "btn btn-default", :title => t('activerecord.models.components'), :alt => t('activerecord.models.components') %>
        <%= link_to raw('<i class="glyphicon glyphicon-check"></i>'), product_check_path(product), :class => "btn btn-default", :title => t('actions.check'), :alt => t('actions.check') %>
        <%= link_to raw('<i class="glyphicon glyphicon-search"></i>'), detections_path(:product_id => product.id), :class => "btn btn-default", :title => t('activerecord.models.detections'), :alt => t('activerecord.models.detections') %>
    	<%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), product, method: :delete, data: { confirm: t('actions.are_you_sure') }, :class => "btn btn-default", :title => t('actions.destroy'), :alt => t('actions.destroy') %>
      </div>
    </td>
  </tr>
<% end %>
</table>
</div>
<% end %>
<br />
<%= link_to new_product_path, :class => "btn btn-default", :title => t('actions.new'), :alt => t('actions.new') do %>
  <i class="glyphicon glyphicon-plus"></i> <%= t('actions.new') %>
<% end %>



