<meta charset="utf-8">
<%= wicked_pdf_stylesheet_link_tag "application" -%>
<%= wicked_pdf_javascript_include_tag "application" %>
<style>
  body {
    background-color:#ffffff;
  }
  .row {
    width: 710px;
  }
  .span5 {
    width: 350px;
    display:inline-block;
  }
  .span11 {
    width: 700px;
    display:inline-block;
  }
  .btn-block {
    width: 690px;
  }
  .btn-large {
    padding: 0;
  }
</style>

<body onload="number_pages()">
    <%= render 'graphics.html' %>
</body>

<script>
  var donut_box_side = 137;
  var donut_font_size = "12px";
  var legend_font_size = "10px";
  var legend_translate = 15;
  var legend_rect_side = 10;
  var legend_dy = ".25em"
  var legend_text_x = 14;
  var legend_text_y = 7;
  var legend_width = 130;

// Proprietà componenti
  dataset = JSON.parse(document.getElementById("component_types").value);
  donut(dataset, "#graphics_area_1", "<%= t('activerecord.models.components') %>");

// Tipi di protezione licenze
  dataset = JSON.parse(document.getElementById("license_types").value);
  donut(dataset, "#graphics_area_2", "<%= t('activerecord.models.licenses') %>");

// Licenze
  dataset = JSON.parse(document.getElementById("licenses").value);
  legend_width = 560;
  legend_height = 148;
  legend_rows_x_column = 10;
  donut(dataset, "#graphics_area_3", "<%= t('activerecord.models.licenses') %>");
</script>

<h3><%= t('actions.listing') + " " + t('activerecord.models.components') %></h3>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= t('activerecord.models.component') %></th>
      <th><%= t('activerecord.attributes.component.version') %></th>
      <th><%= t('activerecord.attributes.component.ownership') %></th>
      <th><%= t('activerecord.attributes.component.license') %></th>
      <th><%= t('activerecord.attributes.license_type.protection_level') %></th>
    </tr>
  </thead>
  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.name %></td>
        <td><%= component.version %></td>
        <% if component.purchased %>
          <td><%= t('activerecord.attributes.component.purchased') %></td>
        <% elsif component.own %>
          <td><%= t('activerecord.attributes.component.own') %></td>
        <% else %>
          <td>Open Source</td>
        <% end %>
        <td><%= unless component.license.nil?; component.license.name; end %></td>
        <td><%= unless component.license.license_type.nil?; component.license.license_type.description; end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
