<%= simple_form_for(@product) do |f| %>

  <div class="form-inputs">

    <%= render 'graphics' %>

  <div class="form-actions">
    <%= link_to products_path, :class => "btn" do %>
      <i class="icon-arrow-left"></i> <%= t('actions.back') %>      
    <% end %> 
    <%= link_to product_print_path(@product, :format => :pdf), :class => "btn" do %>
      <i class="icon-print"></i> <%= t('actions.print') %>      
    <% end %> 
  </div>
<% end %>

<script>
// Proprietà componenti
  dataset = JSON.parse(document.getElementById("component_types").value);
  donut(dataset, "#graphics_area_1", "<%= t('activerecord.models.components') %>");

// Tipi di protezione licenze
  dataset = JSON.parse(document.getElementById("license_types").value);
  donut(dataset, "#graphics_area_2", "<%= t('activerecord.models.licenses') %>");

// Licenze
  dataset = JSON.parse(document.getElementById("licenses").value);
  var legend_width = 800;
  donut(dataset, "#graphics_area_3", "<%= t('activerecord.models.licenses') %>");
</script>
