<ul class="nav pull-left">
  <li><%= link_to raw("<i class='icon-home icon-white'></i> Home"), root_path %></li>
  <li class="divider-vertical"></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='icon-list icon-white'></i> Licenze <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to( t('activerecord.models.licenses'), licenses_path)  %></li>
      <li><%= link_to( t('activerecord.models.categories'), categories_path)  %></li>
      <li><%= link_to( t('activerecord.models.license_types'), license_types_path)  %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='icon-ok icon-white'></i> Verifica <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to(t('activerecord.models.uses'), uses_path)  %></li>
      <li><%= link_to('Regole', licenses_path)  %></li>          	
      <li><%= link_to('Controllo', licenses_path)  %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='icon-book icon-white'></i> Prodotti <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to(t('activerecord.models.products'), products_path)  %></li>
      <li><%= link_to(t('activerecord.models.components'), components_path)  %></li>
      <li><%= link_to(t('activerecord.models.ties'), ties_index_path)  %></li>
    </ul>
  </li>
</ul>

<ul class="nav pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='icon-user icon-white'></i> Accesso <b class="caret"></b></a>
    <ul class="dropdown-menu">
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
    </ul>
  </li>	
  <li><%= link_to raw("<i class='icon-asterisk icon-white'></i> About"), root_path %></li>
</ul>	