<ul class="nav navbar-nav pull-left">
  <li><%= link_to raw("<span class='glyphicon glyphicon-home glyphicon-inverse'></span> Home"), root_path %></li>
  <li class="divider-vertical"></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='glyphicon glyphicon-list glyphicon-inverse'></span> Licenze <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to( t('activerecord.models.licenses'), licenses_path(:commit => "clear") )  %></li>
      <li><%= link_to( t('activerecord.models.categories'), categories_path )  %></li>
      <li><%= link_to( t('activerecord.models.license_types'), license_types_path )  %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='glyphicon glyphicon-ok glyphicon-inverse'></span> Verifica <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to(t('activerecord.models.uses'), uses_path)  %></li>
      <li><%= link_to('Regole', rules_path)  %></li>          	
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='glyphicon glyphicon-book glyphicon-inverse'></span> Prodotti <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to(t('activerecord.models.products'), products_path(:commit => "clear"))  %></li>
      <li><%= link_to(t('activerecord.models.components'), components_path(:commit => "clear"))  %></li>
      <li><%= link_to(t('activerecord.models.ties'), ties_index_path)  %></li>
    </ul>
  </li>
</ul>

<ul class="nav navbar-nav pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='glyphicon glyphicon-user glyphicon-inverse'></span> Accesso <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
  <% if user_signed_in? %>
    <li>
    <%= link_to(t('actions.sign_out'), destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to(t('actions.sign_in'), new_user_session_path)  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to(t('actions.edit') + " " + t('activerecord.models.user'), edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to(t('actions.sign_up'), new_user_registration_path)  %>
    </li>
  <% end %>
    </ul>
  </li>	
</ul>	